


table.ms-crm-ListControl
{
behavior: url(/_static/_grid/grid.htc?ver=-339091135) url(/_static/_grid/appgrid.htc?ver=-339091135) url(/_static/_grid/presence.htc?ver=-339091135);
border-width: 1px;
border-style: solid;
height: 100%;
width: 100%;
table-layout: fixed;
background-color:#FFFFFF;
}
table.ms-crm-PersonalSettingListControl
{
behavior: url(/_static/_grid/grid.htc?ver=-339091135) url(/_static/_grid/appgrid.htc?ver=-339091135) url(/_static/_grid/presence.htc?ver=-339091135);
border-width: 1px;
border-style: solid;
height: 96%;
width: 100%;
table-layout: fixed;
background-color:#FFFFFF;
}
table.ms-crm-ListControlEx
{
behavior: url(/_static/_grid/grid.htc?ver=-339091135) url(/_static/_grid/appgrid.htc?ver=-339091135) url(/_static/_grid/presence.htc?ver=-339091135);
height: 100%;
width: 100%;
table-layout: fixed;
background-color:#FFFFFF;
}
.ms-crm-List-Data
{
table-layout: fixed;
width: 100%;
behavior: url(/_static/_grid/appgrid_defaultdata.htc?ver=-339091135);
}

.ms-crm-ListArea
{
height: 100%;
width: 100%;
table-layout: fixed;
background-color:#FFFFFF;
}

.ms-crm-List-DataBody
{
HEIGHT:100%;
}

.ms-crm-List-DataBodyEx
{
HEIGHT:auto;
}

.ms-crm-List-DataArea
{
OVERFLOW-X:auto;
OVERFLOW-Y:auto;
width:100%;
height:100%;
}

.ms-crm-List-DataAreaEx
{
OVERFLOW-X:auto;
width:100%;
height:100%;
}

.ms-crm-List-RefreshButton
{
table-layout:		fixed;
height:				20px;
width:				16px;
margin-bottom:		-20px;
position:			relative;
display:			none;
}

.ms-crm-List-Paging
{

text-align: right;

}

a.toolbarbutton,
a.toolbarbutton:active img,
a.toolbarbutton:hover img,
a.toolbarbutton:link img,
a.toolbarbutton:visited img
{
text-decoration: none;
border: none;
}

td.ms-crm-List-Sortable
{

}

img.ms-crm-List-Sortable
{
vertical-align: middle;
visibility: hidden;

}

table.ms-crm-List-UnSortable,
table.ms-crm-List-Sortable
{
height:100%;
width:100%;
table-layout: fixed;
}
table.ms-crm-List-Sortable
{
cursor:hand;
}

label.ms-crm-List-Sortable
{
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;

}

.ms-crm-List-Header
{
width: 100%;
height: 21px;
table-layout: fixed;
border-bottom-width:1px;
border-bottom-style:solid;
}

.ms-crm-List-DataColumnHeader,
.ms-crm-List-StatusBar-Label
{

padding-left: 8px;

}

tr.ms-crm-List-Title
{

padding-left: 8px;
padding-right: 2px;

}

tr.ms-crm-list-TitleFilter
{

padding-left: 8px;

}

.ms-crm-list-Separator-line
{
height: 1px;
}
.ms-crm-List-MultilineRow,
.ms-crm-List-Row
{
padding-top: 1px;
margin-bottom: 1px;
border-bottom: 1px solid #DBDEE1;
}

.ms-crm-List-Row
{
height: 21px;
}

.ms-crm-List-MultilineRow
{
vertical-align: top;
}

INPUT.ms-crm-RowCheckBox
{
margin-top: 1px;
border: 0px;
width: 16px;
cursor: hand;
}

.ms-crm-List-DataCell
{
border-top: none;
border-left: none;
border-right: none;

border-bottom: 1px solid #DBDEE1;
}

td.ms-crm-List-Disabled
{
border-bottom: 1px solid #dddddd;
cursor:default;
color: #999999;
}

.ms-crm-List-ResizeBar
{
cursor:		col-resize;
behavior:	url(/_static/_grid/columnresize.htc?ver=-339091135);
}

tr.ms-crm-List-StatusBar
{
height: 22px;
}

table.ms-crm-List-StatusBar
{
width: 100%;
height: 22px;
table-layout: fixed;
border-top-width: 1px;
border-top-style: solid;
}

.ms-crm-List-Index
{
width: 100%;
cursor:	hand;
text-align: center;
table-layout: fixed;
border-top-width: 1px;
border-top-style: solid;
height: 20px;
padding-top:4px;
behavior: url(/_static/_grid/appgrid_jumpbar.htc?ver=-339091135);
}

.ms-crm-List-Message
{
table-layout: fixed;
padding:1;
width:100%;
height:100%;
text-align:center;
COLOR: #999999;
behavior: url(/_static/_grid/appgrid_defaultdata.htc?ver=-339091135);
}

.ms-crm-List-MessageText
{
text-align:center;
COLOR: #999999;
}

A.ms-crm-List-LoadOnDemand
{
cursor: hand;
text-decoration: underline;
color: #0000ff;
text-align: center;
}

.ms-crm-List-PreviewLabel,
TD.previewData
{
vertical-align:	top;
overflow:		hidden;
text-overflow:	ellipsis;
behavior:		url(/_static/_forms/styles/mouseover.htc?ver=-339091135);
}
.ms-crm-List-Spacer
{
width: 2px;
}

TD.previewDataDatetime,
TD.previewDataNum
{
vertical-align:	top;
overflow:		hidden;
text-overflow:	ellipsis;
behavior:		url(/_static/_forms/styles/mouseover.htc?ver=-339091135);
direction:		ltr;

}

SPAN.previewDirSpan
{
direction:		ltr;
behavior:		url(/_static/_forms/styles/mouseover.htc?ver=-339091135);
}

.ms-crm-List-PreviewRow
{
padding:	5px;
height:		auto;
}

.ms-crm-List-Preview
{
width: 100%;
border-left: 1px solid #cccccc;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #999999;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#EAF1FF);
}

IMG.ms-crm-PreviewImage
{
cursor: hand;

}

.ms-crm-List-PreviewCell
{
cursor: default;
padding-bottom: 2px;
border-bottom: 1px solid #dddddd;

padding: 0px 0px 2px 17px;

}

TR.ms-crm-List-HoveredMultilineRow,
TR.ms-crm-List-SelectedMultilineRow,
TR.ms-crm-List-HoveredRow,
TR.ms-crm-List-SelectedRow
{
padding-top: 1px;
margin-bottom: 1px;
color: #000000;
border-bottom: 1px solid #DBDEE1;
}

TR.ms-crm-List-HoveredRow,
TR.ms-crm-List-SelectedRow
{
height: 21px;
}

TR.ms-crm-List-HoveredMultilineRow,
TR.ms-crm-List-SelectedMultilineRow
{
vertical-align: top;
}

NOBR.ms-crm-List-RowLine
{
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
height: 18px;
}

TR.ms-crm-List-SelectedRow A.ms-crm-List-LinkUnderlined,
TR.ms-crm-List-HoveredRow A.ms-crm-List-LinkUnderlined,
TR.ms-crm-List-HoveredMultilineRow A.ms-crm-List-LinkUnderlined,
TR.ms-crm-List-SelectedMultilineRow A.ms-crm-List-LinkUnderlined
TR.ms-crm-List-SelectedRow SPAN.gridLui,
TR.ms-crm-List-HoveredRow SPAN.gridLui,
TR.ms-crm-List-HoveredMultilineRow SPAN.gridLui,
TR.ms-crm-List-SelectedMultilineRow SPAN.gridLui
{
text-decoration:	underline;
cursor:				hand;
}

IMG.ms-crm-Lookup-Item
{
height:				16px;
width:				16px;
vertical-align:		top;

margin-left:		2px;
margin-right:		5px;

}

IMG.ms-crm-Lookup-PresenceItem
{
height:				12px;
width:				12px;
margin-top:			2px;
vertical-align:		top;

margin-left:		2px;
margin-right:		5px;

}

col.ms-crm-List-NonDataColumnHeader
{

padding-left:0px;

}

nobr.num,
nobr.datetime
{
direction: ltr;
}
