.ms-crm-List-Header 
{
    background-color: rgb(246, 248, 250);
}

body {
    direction: LTR;
    margin:	0px;
    border: 0px;
    cursor: default;
    overflow: hidden;
}

body,
input,
select,
textarea,
table.ms-crm-Loading
table,
td,
button,
th
{
    font-family:Segoe UI, Tahoma, Arial;
    font-size: 11px;
    font-weight: normal;
}

DIV.ms-crm-Dialog-Header-Title
{
    padding-left: 5px;
    font-weight: bold;
    font-size: 13px;
}

button
{
line-height: 18px;
height: 20px;
width: 84px;
text-align: center;
cursor: pointer;
border-width: 1px;
border-style: solid;
background-repeat: repeat-x;
padding-left: 5px;
padding-right: 5px;
}

nobr
{
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
}



.ms-crm-Setting-Context-top,
body
{
	background-color:#E9EDF1;
	scrollbar-3dlight-color:#A5ACB5;
	scrollbar-arrow-color:#3B3B3B;
	scrollbar-base-color:#E9EDF1;
	scrollbar-darkshadow-color:#A5ACB5;
	scrollbar-face-color:#E9EDF1;
	scrollbar-highlight-color:#E9EDF1;
	scrollbar-shadow-color:#E9EDF1;
	scrollbar-track-color:#E3E8ED;

}

div.ms-crm-TopBarContainerGlobal
{
	background-color:#FFFFFF;
}

table.htmlBar
{
	background-color:#EFF2F6;
	border-color:#A5ACB5;

}

SPAN.htmlBtnHideable
{
	color:#000000;

}

TR.ms-crm-AdvFind-TitleArea
{
	background-color:#E9EDF1;

}

SPAN.ms-crm-AdvFind-EmptyField,
DIV.ms-crm-AdvFind-FilterField
{
	border-color:#C6CBD2;

}

td.ms-crm-Context-cell,
td.ms-crm-ContextHeader-Title,
td.ms-crm-Setting-ContextHeader-Title,
td.ms-crm-Context-cell,
table.home_import_table,
td.homepage_menubar,
#crmMenuBar,
IFRAME.noteData,
table.homepage_table,
DIV.feFilterEditor,
DIV.feAFControls,
div.editPage,
DIV.editor,
TABLE.ms-crm-AdvFind-Title-table-WithTopBorder,
TABLE.ms-crm-AdvFind-Title-table,
TABLE.ms-crm-AdvFindControl,
SPAN.ms-crm-AdvFind-Detailed,
.ms-crm-PaneControl-LeftRight-footer,
.ms-crm-PaneControl-TopDown-footer,
TD.ms-crm-gridPaneSepHor,
TD.ms-crm-gridPaneSepVerTD,
TD.ms-crm-gridPaneSepMotionHorTD,
table.ms-crm-CompCntrlBrdr,
td.dashboard-brdr,
.ms-crm-control-SideStrip,
DIV.listEdit_valuelist,
IFRAME.ms-crm-Email-Body,
IFRAME.ms-crm-Custom,
div.ms-crm-DataField,
div.ms-crm-ToolBar-Shadow
{
	border-color:#A5ACB5;

}

TD.ms-crm-Cal-Day-Time
{
	background-color:#EFF2F6;
}

table.ms-crm-Home-Cal-Body
{
	background-color:#F6F8FA;
	border-color:#A5ACB5;
}

div.ms-crm-Home-Cal-CreateNew-Title,
td.ms-crm-Home-Cal-Header
{
	color:#3B3B3B;

}

div.ms-crm-Home-Cal-Views-Title
{
	color:#3B3B3B;
	border-color:#DBDEE1;
}

TD.ms-crm-Cal-Month-Nav,
Div.ms-crm-Cal-Week-Header
{
	border-color:#DBDEE1;
}

table.ms-crm-Home-Cal-CreateNew-Items,
body.ms-crm-Cal-Body
{
	color:#000000;
	border-color:#DBDEE1;
}
td.ganttHeaderRowBottom,
div.ganttHeaderTop,
td.ganttSheet,
td.gridSpacer
{
	border-color:#C6CBD2;
}

hr.separator
{
	color:#C6CBD2;
}

table#ganttPageBodyTable,
td.calendarPane
{
	background-color:#EFF2F6;
}

td.gridSpacer,
td.ganttHeaderRowTop,
td.ganttHeaderRowBottom,
td.bottomSpacerBar
{
	background-color:#F6F8FA;
}

TABLE.ms-crm-Cal-Month-DayOfWeek-Header
{
	background-color:#EFF2F6;
}
TD.ms-crm-Cal-Month-Day-NotCurrent
{
	background-color:#C0C0C0;
}

TD.ms-crm-Cal-Month-Day,
TD.ms-crm-Cal-Month-DayOfWeek
{
	border-color:#C6CBD2;
}

button
{
	border-color:#666666;
	background-image:url(_common/../_imgs/theme/Outlook14Silver/ButtonNormalGradient.png);
}

TABLE.headerContainerTable .ms-crm-Field-Label-Print,
TD.ms-crm-Form-Footer TD.ms-crm-Field-Label-Print,
.ms-crm-Form-Title-Label
{
	color:#656669;
}

TD.ms-crm-Dialog-Header
{
	background-color:#FFFFFF;
	border-bottom-color:#A4ABB2;
}

DIV.ms-crm-Dialog-Header-Desc
{
	color:#000000;
}

TD.ms-crm-Dialog-Main,
DIV.ms-crm-Dialog-Main
{
	color:#000000;
	background-color:#E9EDF1;
	border-bottom-color:#A4ABB2;
}

TD.ms-crm-Dialog-Buttons,
TD.ms-crm-Dialog-Footer
{
	background-color:#E9EDF1;
	border-top-color:#FFFFFF;
}


table.ms-crm-ListControl
{
	border-color:#A5ACB5;
}

.ms-crm-List-IndexItem,
.ms-crm-List-SelectedIndex
{
	color:#15428B;
}

table.ms-crm-List-StatusBar
{
	background-color:#F1F3F5;
	border-top-color:#C0C0C0;
}


.ms-crm-List-Paging
{
	color:#666666;
}

body
{
    direction: LTR;
    margin:	0px;
    border: 0px;
    cursor: default;
}

table
{
    cursor: default;
}


button
{
    line-height: 18px;
    height: 20px;
    width: 84px;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    padding-left: 5px;
    padding-right: 5px;
}


nobr
{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-crm-TextAlign-LeadingEdge,
.ms-crm-FieldLabel-LeftAlign,
col.workflowTemplatePage_col_left,
td.AppContractCalendar_Render_td,
td.dlg_addtocampaign_td_AddList,
td.dlg_addtocampaign_td_spacer,
td.dlg_camailmerge_td_ownership,
td.dlg_deactivate_td_status,
td.dlg_deactivatecampactivity_td_EndDate,
td.dlg_deactivatecampactivity_td_StartDate,
td.dlg_deactivatecampactivity_td_status,
td.dlg_listcaassociation_td_AddList,
td.dlg_listcaassociation_td_spacer,
td.dlg_setstate_asyncoperation_td,
td.dlg_setstate_td_LblStatus,
td.HtmlBar_AddTextButton_td,
td.ImportCustomizationsForm_td_BtnUploadFile,
td.ImportWizard_td_PageContainer,
td.invoice_dlg_close_td_InvNum,
td.LangTranslationsImport_td,
td.MiniCampaign_td_OwnerGroup,
td.MiniCampaign_td_PageHeader1,
td.ms-crm-Dialog-Footer-Left,
TD.ms-crm-VisualizationNameLabel,
td.notes_htc_td_create,
td.NotesDataControl_Render_td,
td.NotesDataControl_Render_td2,
td.personalsettings_td_AdminDisb,
td.personalsettings_td_HosterTitle,
td.personalsettings_td_MinSyncPeriod,
td.personalsettings_td_RunPerMins,
td.personalsettings_td_RunSchSync,
td.personalsettings_td_SQMAccept,
td.personalsettings_td_SyncClient,
td.personalsettings_td_SyncStart,
td.personalsettings_td_SyncTitle,
td.quote_dlg_accept_td_QuoteNum,
td.quote_dlg_accept_td_RevNum,
td.relRoleEdit_edit_td_HeadSpacer,
td.report_viewer_td_BtnEditFilter,
td.RoleDetailPage_RenderCustomEntityPrivilegeRows_td,
td.roles_edit_td_RecordType,
td.salesord_dlg_close_td_OrdNum,
td.sqmsettings_td_AcceptBox,
td.systemsettings_td_Mins,
td.SystemWideDuplicateDetection_td_btnhelp,
td.SystemWideDuplicateDetection_td_headerwrapper,
td.TimeSheet_Render_td,
td.TimeSheet_Render_td2,
td.TimeSheet_Render_td3,
td.workflowTemplatePage_td_buttonsleft,
td.workflowTemplatePage_td_left,
th
{

text-align: left;

}

.ms-crm-TextAlign-TrailingEdge,
.ms-crm-FieldLabel-RightAlign,
col.fieldprops_col_3,
col.formedit_section_col_3,
col.Menu_Render_col,
td.AppAttachment_Render_td4,
td.AppAttachment_Render_td5,
td.AppFilterEditor_Render_td,
td.attrMap_td_MapFile,
td.contract_edit_td_AllotType,
td.contracts_edit_td_AllotType,
td.dlgs_timesheet_td_BtnCap,
td.GanttControlFrame_td_EndDateSec,
td.home_debug_td_ImgDebugInfo,
td.hp_news_td_SpanAnnouncments,
td.ImportFieldMap_td_ID2,
td.MiniCampaign_td_spacer,
TD.ms-crm-AddUsers-Restart,
td.ms-crm-Dialog-Footer-Right,
td.ms-crm-NumbersAndDates,
TD.ms-crm-PaneChevron,
td.notes_htc_td_edit,
td.NotesDataControl_Render_td3,
td.opp_dlg_reopen_td_buttons,
td.quote_dlg_accept_td_Revenue,
td.rsc_resourcerule_td_toggle,
td.ScheduleWizard_td_BtnEditFilter,
td.ScheduleWizard_td_Text,
td.SystemWideDuplicateDetection_td_header,
td.SystemWideDuplicateDetection_td_ImgWizHead,
td.workflowTemplatePage_td_buttonsright,
td.workflowTemplatePage_td_right,
tr.attachement_edit_tr_BtnClose,
tr.attrMap_tr_buttons,
tr.ImportWizard_tr_Buttons,
tr.MiniCampaign_tr_MCButtons,
tr.notes_edit_tr_BtnClose,
tr.SystemWideDuplicateDetection_tr_buttons,
tr.SystemWideDuplicateDetection_tr_header,
tr.ViewDuplicates_tr_Buttons
{
    text-align: right;
}

.ms-crm-LeadingEdge-Padding-10px,
col.AppGridPrintUIProvider_RenderColumnHeader_col2,
col.ms-crm-List-DataColumn,
td.AppGridFilterSelector_Render_td,
td.createMapping_td_RightColumn,
td.dlg_bulkemail_td_TemplateListStart,
td.DuplicateRuleCondition_td_Status,
td.ImportFieldMap_td_EntityType,
td.ImportFieldMap_td_ImpFileName,
td.ImportFieldMap_td_PageGrid2,
td.manageAttribute_td_RightColumn,
td.manageEntity_td_RightColumn,
td.ms-crm-DrillDown-homeback-cell,
TD.ms-crm-workflowTemplateForm-Section,
td.SystemWideDuplicateDetection_td_ddPageBody1,
td.SystemWideDuplicateDetection_td_ddPageBody4,
td.SystemWideDuplicateDetection_td_page1
{
    padding-left: 10px;
}

/*dialogs.css*/

DIV.ms-crm-Dialog-Main
{
    height:			100%;
    vertical-align:	top;
    padding-left:	5px;
    padding-right:	5px;
    padding-bottom: 5px;
    padding-top:	5px;
    overflow:		auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
TD.ms-crm-Dialog-Header
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height:			51px;
    vertical-align:	top;
    padding:		5px;
}
TD.ms-crm-Dialog-Footer
{
    height:			30px;
    padding:		10px;
    border-top-style: solid;
    border-top-width: 1px;
}
DIV.ms-crm-Dialog-Header-Desc
{
padding-top:	4px;

padding-left:	5px;

}
DIV.ms-crm-Dialog-Desc
{
padding-top:	4px;

padding-left:	6px;

}

/*controls.css*/

BUTTON.ms-crm-Button
{
    overflow: visible;
    width: 84px;
}

/*appgrid.css*/
table.ms-crm-ListControl
{
    border-width: 1px;
    border-style: solid;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    background-color:#FFFFFF;
}
.ms-crm-List-Data
{
    table-layout: fixed;
    width: 100%;
}
.ms-crm-ListArea
{
    height: 100%;
    width: 100%;
    table-layout: fixed;
    background-color:#FFFFFF;
}

.ms-crm-List-DataArea
{
    OVERFLOW-X:auto;
    OVERFLOW-Y:auto;
    width:100%;
    height:100%;
}
.ms-crm-List-Header
{
    width: 100%;
    height: 21px;
    table-layout: fixed;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

.ms-crm-List-DataColumnHeader,
.ms-crm-List-StatusBar-Label
{
    padding-left: 8px;
}
.ms-crm-List-Row
{
    height: 21px;
}
INPUT.ms-crm-RowCheckBox
{
    margin-top: 1px;
    border: 0px;
    width: 16px;
    cursor: hand;
}
td.ms-crm-List-Disabled
{
    border-bottom: 1px solid #dddddd;
    cursor:default;
    color: #999999;
}
.ms-crm-List-DataCell
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DBDEE1;
}
table.ms-crm-List-StatusBar
{
    width: 100%;
    height: 22px;
    table-layout: fixed;
    border-top-width: 1px;
    border-top-style: solid;
}
