

body
{
direction: LTR;
margin:	0px;
border: 0px;
cursor: default;

}

table
{
cursor: default;
}


button
{
line-height: 18px;
height: 20px;
width: 84px;
text-align: center;
cursor: pointer;
border-width: 1px;
border-style: solid;
background-repeat: repeat-x;
padding-left: 5px;
padding-right: 5px;
}


nobr
{
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
}


.ms-crm-TextAlign-LeadingEdge,
.ms-crm-FieldLabel-LeftAlign,
col.workflowTemplatePage_col_left,
td.AppContractCalendar_Render_td,
td.dlg_addtocampaign_td_AddList,
td.dlg_addtocampaign_td_spacer,
td.dlg_camailmerge_td_ownership,
td.dlg_deactivate_td_status,
td.dlg_deactivatecampactivity_td_EndDate,
td.dlg_deactivatecampactivity_td_StartDate,
td.dlg_deactivatecampactivity_td_status,
td.dlg_listcaassociation_td_AddList,
td.dlg_listcaassociation_td_spacer,
td.dlg_setstate_asyncoperation_td,
td.dlg_setstate_td_LblStatus,
td.HtmlBar_AddTextButton_td,
td.ImportCustomizationsForm_td_BtnUploadFile,
td.ImportWizard_td_PageContainer,
td.invoice_dlg_close_td_InvNum,
td.LangTranslationsImport_td,
td.MiniCampaign_td_OwnerGroup,
td.MiniCampaign_td_PageHeader1,
td.ms-crm-Dialog-Footer-Left,
TD.ms-crm-VisualizationNameLabel,
td.notes_htc_td_create,
td.NotesDataControl_Render_td,
td.NotesDataControl_Render_td2,
td.personalsettings_td_AdminDisb,
td.personalsettings_td_HosterTitle,
td.personalsettings_td_MinSyncPeriod,
td.personalsettings_td_RunPerMins,
td.personalsettings_td_RunSchSync,
td.personalsettings_td_SQMAccept,
td.personalsettings_td_SyncClient,
td.personalsettings_td_SyncStart,
td.personalsettings_td_SyncTitle,
td.quote_dlg_accept_td_QuoteNum,
td.quote_dlg_accept_td_RevNum,
td.relRoleEdit_edit_td_HeadSpacer,
td.report_viewer_td_BtnEditFilter,
td.RoleDetailPage_RenderCustomEntityPrivilegeRows_td,
td.roles_edit_td_RecordType,
td.salesord_dlg_close_td_OrdNum,
td.sqmsettings_td_AcceptBox,
td.systemsettings_td_Mins,
td.SystemWideDuplicateDetection_td_btnhelp,
td.SystemWideDuplicateDetection_td_headerwrapper,
td.TimeSheet_Render_td,
td.TimeSheet_Render_td2,
td.TimeSheet_Render_td3,
td.workflowTemplatePage_td_buttonsleft,
td.workflowTemplatePage_td_left,
th
{

text-align: left;

}

.ms-crm-TextAlign-TrailingEdge,
.ms-crm-FieldLabel-RightAlign,
col.fieldprops_col_3,
col.formedit_section_col_3,
col.Menu_Render_col,
td.AppAttachment_Render_td4,
td.AppAttachment_Render_td5,
td.AppFilterEditor_Render_td,
td.attrMap_td_MapFile,
td.contract_edit_td_AllotType,
td.contracts_edit_td_AllotType,
td.dlgs_timesheet_td_BtnCap,
td.GanttControlFrame_td_EndDateSec,
td.home_debug_td_ImgDebugInfo,
td.hp_news_td_SpanAnnouncments,
td.ImportFieldMap_td_ID2,
td.MiniCampaign_td_spacer,
TD.ms-crm-AddUsers-Restart,
td.ms-crm-Dialog-Footer-Right,
td.ms-crm-NumbersAndDates,
TD.ms-crm-PaneChevron,
td.notes_htc_td_edit,
td.NotesDataControl_Render_td3,
td.opp_dlg_reopen_td_buttons,
td.quote_dlg_accept_td_Revenue,
td.rsc_resourcerule_td_toggle,
td.ScheduleWizard_td_BtnEditFilter,
td.ScheduleWizard_td_Text,
td.SystemWideDuplicateDetection_td_header,
td.SystemWideDuplicateDetection_td_ImgWizHead,
td.workflowTemplatePage_td_buttonsright,
td.workflowTemplatePage_td_right,
tr.attachement_edit_tr_BtnClose,
tr.attrMap_tr_buttons,
tr.ImportWizard_tr_Buttons,
tr.MiniCampaign_tr_MCButtons,
tr.notes_edit_tr_BtnClose,
tr.SystemWideDuplicateDetection_tr_buttons,
tr.SystemWideDuplicateDetection_tr_header,
tr.ViewDuplicates_tr_Buttons
{

text-align: right;

}

.ms-crm-LeadingEdge-Padding-10px,
col.AppGridPrintUIProvider_RenderColumnHeader_col2,
col.ms-crm-List-DataColumn,
td.AppGridFilterSelector_Render_td,
td.createMapping_td_RightColumn,
td.dlg_bulkemail_td_TemplateListStart,
td.DuplicateRuleCondition_td_Status,
td.ImportFieldMap_td_EntityType,
td.ImportFieldMap_td_ImpFileName,
td.ImportFieldMap_td_PageGrid2,
td.manageAttribute_td_RightColumn,
td.manageEntity_td_RightColumn,
td.ms-crm-DrillDown-homeback-cell,
TD.ms-crm-workflowTemplateForm-Section,
td.SystemWideDuplicateDetection_td_ddPageBody1,
td.SystemWideDuplicateDetection_td_ddPageBody4,
td.SystemWideDuplicateDetection_td_page1
{

padding-left: 10px;

}


















