

input.ms-crm-SelectBox
{
width: 100%;
height: 19px;
border: 1px solid #E2E3EA;
border-top: 1px solid #ABADB3;

border-right: 0px;
padding-left: 5px;

cursor: default;
}

span.ms-crm-SelectBox
{
height: 21px;
behavior: url(../../_static/_common/styles/select.htc) ;

}

SELECT.ms-crm-SelectBox
{
width:				100%;
behavior: 			url(../../_static/_forms/controls/select.picklist.htc) ;
}

SELECT.ms-crm-SelectBox-WorkflowDesigner
{
width:				150px;
behavior: 			url(../../_static/_forms/controls/select.picklist.htc) ;
}

SELECT.ms-crm-SelectBox-RelationshipRole
{
behavior: 			url(../../_static/_forms/controls/select.relationshiprole.htc) url(../../_static/_forms/controls/select.picklist.htc);
}
