

body.ms-crm-Setting-Context-top,
body
{
	background-color:#E9EDF1;
	scrollbar-3dlight-color:#A5ACB5;
	scrollbar-arrow-color:#3B3B3B;
	scrollbar-base-color:#E9EDF1;
	scrollbar-darkshadow-color:#A5ACB5;
	scrollbar-face-color:#E9EDF1;
	scrollbar-highlight-color:#E9EDF1;
	scrollbar-shadow-color:#E9EDF1;
	scrollbar-track-color:#E3E8ED;

}

div.ms-crm-TopBarContainerGlobal
{
	background-color:#FFFFFF;
}

table.htmlBar
{
	background-color:#EFF2F6;
	border-color:#A5ACB5;

}

SPAN.htmlBtnHideable
{
	color:#000000;

}

TR.ms-crm-AdvFind-TitleArea
{
	background-color:#E9EDF1;

}

SPAN.ms-crm-AdvFind-EmptyField,
DIV.ms-crm-AdvFind-FilterField
{
	border-color:#C6CBD2;

}

td.ms-crm-Context-cell,
td.ms-crm-ContextHeader-Title,
td.ms-crm-Setting-ContextHeader-Title,
td.ms-crm-Context-cell,
table.home_import_table,
td.homepage_menubar,
span.#crmMenuBar,
IFRAME.noteData,
table.homepage_table,
DIV.feFilterEditor,
DIV.feAFControls,
div.editPage,
DIV.editor,
TABLE.ms-crm-AdvFind-Title-table-WithTopBorder,
TABLE.ms-crm-AdvFind-Title-table,
TABLE.ms-crm-AdvFindControl,
SPAN.ms-crm-AdvFind-Detailed,
.ms-crm-PaneControl-LeftRight-footer,
.ms-crm-PaneControl-TopDown-footer,
TD.ms-crm-gridPaneSepHor,
TD.ms-crm-gridPaneSepVerTD,
TD.ms-crm-gridPaneSepMotionHorTD,
table.ms-crm-CompCntrlBrdr,
td.dashboard-brdr,
.ms-crm-control-SideStrip,
DIV.listEdit_valuelist,
IFRAME.ms-crm-Email-Body,
IFRAME.ms-crm-Custom,
div.ms-crm-DataField,
div.ms-crm-ToolBar-Shadow
{
	border-color:#A5ACB5;

}

TD.ms-crm-Cal-Day-Time
{
	background-color:#EFF2F6;

}

table.ms-crm-Home-Cal-Body
{
	background-color:#F6F8FA;

	border-color:#A5ACB5;

}

div.ms-crm-Home-Cal-CreateNew-Title,
td.ms-crm-Home-Cal-Header
{
	color:#3B3B3B;

}

div.ms-crm-Home-Cal-Views-Title
{
	color:#3B3B3B;

	border-color:#DBDEE1;

}

TD.ms-crm-Cal-Month-Nav,
Div.ms-crm-Cal-Week-Header
{
	border-color:#DBDEE1;

}

table.ms-crm-Home-Cal-CreateNew-Items,
body.ms-crm-Cal-Body
{
	color:#000000;

	border-color:#DBDEE1;

}
td.ganttHeaderRowBottom,
div.ganttHeaderTop,
td.ganttSheet,
td.gridSpacer
{
	border-color:#C6CBD2;

}

hr.separator
{
	color:#C6CBD2;

}

table#ganttPageBodyTable,
td.calendarPane
{
	background-color:#EFF2F6;

}

td.gridSpacer,
td.ganttHeaderRowTop,
td.ganttHeaderRowBottom,
td.bottomSpacerBar
{
	background-color:#F6F8FA;

}

TABLE.ms-crm-Cal-Month-DayOfWeek-Header
{
	background-color:#EFF2F6;

}
TD.ms-crm-Cal-Month-Day-NotCurrent
{
	background-color:#C0C0C0;

}

TD.ms-crm-Cal-Month-Day,
TD.ms-crm-Cal-Month-DayOfWeek
{
	border-color:#C6CBD2;

}

button
{
	border-color:#666666;
	background-image:url(../../_imgs/theme/Outlook14Silver/ButtonNormalGradient.png);

}



TABLE.headerContainerTable .ms-crm-Field-Label-Print,
TD.ms-crm-Form-Footer TD.ms-crm-Field-Label-Print,
.ms-crm-Form-Title-Label
{
	color:#656669;

}













TD.ms-crm-Dialog-Header
{
	background-color:#FFFFFF;
	border-bottom-color:#A4ABB2;

}






DIV.ms-crm-Dialog-Header-Desc
{
	color:#000000;

}

TD.ms-crm-Dialog-Main,
DIV.ms-crm-Dialog-Main
{
	color:#000000;
	background-color:#E9EDF1;
	border-bottom-color:#A4ABB2;

}

TD.ms-crm-Dialog-Buttons,
TD.ms-crm-Dialog-Footer
{
	background-color:#E9EDF1;
	border-top-color:#FFFFFF;

}


table.ms-crm-ListControl
{
	border-color:#A5ACB5;
}

.ms-crm-List-IndexItem,
.ms-crm-List-SelectedIndex
{
	color:#15428B;

}

table.ms-crm-List-StatusBar
{
	background-color:#F1F3F5;
	border-top-color:#C0C0C0;

}


.ms-crm-List-Paging
{
	color:#666666;

}