

TEXTAREA
{
width:				100%;
behavior: 			url(/_static/_forms/controls/textarea.htc?ver=-339091135) ;
}

INPUT
{
width:				100%;
height:				19px;
}

INPUT.ms-crm-RadioButton
{

margin-left: 8px;
margin-right: 3px;

width: 15px;
height: 20px;
border: 0px;
cursor: hand;
vertical-align: middle;
}

DIV.ms-crm-RadioButton
{
behavior: url(/_static/_forms/controls/input.radio.htc?ver=-339091135) ;
}

INPUT.ms-crm-Email-Address
{
color: #0000ff;
text-decoration: underline;
behavior: url(/_static/_forms/controls/input.text.eml.htc?ver=-339091135) ;
direction: ltr ;

}

INPUT.ms-crm-Ticker
{
color: #0000ff;
text-decoration: underline;
behavior: url(/_static/_forms/controls/input.text.ticker.htc?ver=-339091135) ;
}



INPUT.ms-crm-CheckBox
{
margin-top: 1px;
border: 0px;
width: 16px;
cursor: hand;
behavior: url(/_static/_forms/controls/input.chk.htc?ver=-339091135) ;
}

INPUT.ms-crm-Url
{
color: #0000ff;
text-decoration: underline;
behavior: url(/_static/_forms/controls/input.text.url.htc?ver=-339091135) ;
direction: ltr ;

}

INPUT.ms-crm-Number
{
behavior: url(/_static/_forms/controls/input.num.htc?ver=-339091135) ;
direction:ltr;

}

INPUT.ms-crm-Money
{
behavior: url(/_static/_forms/controls/input.mny.htc?ver=-339091135) url(/_static/_forms/controls/input.num.htc?ver=-339091135) ;
direction:ltr;
border-left-width: 0px;

}

INPUT.ms-crm-DateTime
{
behavior: url(/_static/_forms/controls/input.dtm.htc?ver=-339091135) ;
}

BUTTON.ms-crm-Button
{
overflow: visible;

width: 84px;
}

TABLE.ms-crm-DateTime
{
behavior: url(/_static/_forms/controls/table.dtm.htc?ver=-339091135) ;
}

INPUT.ms-crm-Hidden
{
behavior: url(/_static/_forms/controls/input.hid.htc?ver=-339091135);
}

TABLE.ms-crm-Money
{
behavior: url(/_static/_forms/controls/table.mny.htc?ver=-339091135) ;
}

INPUT.ms-crm-Text
{
behavior: url(/_static/_forms/controls/input.text.htc?ver=-339091135) ;
}

SPAN.ms-crm-Lookup-Item
{
margin-top: -1px;
color: #0000ff;
text-decoration: underline;
cursor:	hand;
margin-left: 1px;
margin-right: 1px;
word-break: break-all;
}

SPAN.ms-crm-Lookup-DialogItem
{
margin-top: -1px;
color: #000000;
cursor:	hand;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-SelectedDialogItem
{
margin-top: -1px;
cursor:	hand;
background-color: #a7cdf0;
color: #000000;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-SelectedDialogItem-NoFocus
{
margin-top: -1px;
cursor:	hand;
background-color: #cdcdcd;
color: #000000;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-Item-NonEntity
{
margin-top: -1px;
color: #000000;
text-decoration: none;
cursor:	default;
padding-left: 1px;
word-break: break-all;
}

SPAN.ms-crm-Lookup-Ambiguous,
SPAN.ms-crm-Lookup-PartyItem-NoAddress,
SPAN.ms-crm-Lookup-PartyItem-Unresolved,
SPAN.ms-crm-Lookup-Unresolved
{
color:				#ff0000;
text-decoration:	underline;
cursor:				hand;
}


IMG.ms-crm-Lookup-Item
{
vertical-align:		middle;

margin-left:		2px;
margin-right:		5px;

}

IMG.ms-crm-Lookup-PresenceItem
{
height:				12px;
width:				12px;
margin-top:		    1px;
vertical-align:		middle;

margin-left:		2px;
margin-right:		5px;

}

DIV.ms-crm-FloatLookup
{
position: absolute;
height: 50px!important;
}
INPUT.ms-crm-LookupNormal
{
height: 20px;
margin-top: -1px;
margin-bottom: -1px;
}

DIV.ms-crm-Lookup
{
padding-top:		2px;
overflow-y:			auto;
word-wrap:			break-word;
height:				20px;
background:			window;
width:				100%;
border:				1px solid #E2E3EA;
border-top: 		1px solid #ABADB3;
}

DIV.ms-crm-Lookup-Party
{
overflow-y: auto;
width: 100%;
word-wrap: break-word;
background: window;
height: 20px;
padding-top: 2px;
border: 1px solid #E2E3EA;
border-top: 1px solid #ABADB3;
}

DIV.ms-crm-Lookup-DisplayOnly
{
height:				80px;
}

TABLE.ms-crm-Lookup
{
behavior: 			url(/_static/_forms/controls/table.lu.htc?ver=-339091135) ;
}

DIV.ms-crm-ReadOnly
{
overflow-y:			auto;
height:				19px;
width:				100%;
background-color:	#F7F8F9;
border-color:		#C5C5C5;
}

DIV.ms-crm-Lookup-ReadOnly
{
height:				20px!important;
}

DIV.ms-crm-Lookup-Required
{
background-color:	;
}

DIV.ms-crm-Lookup-Recommended
{
background-color:	;
}

IMG.ms-crm-Lookup
{
cursor:				hand;
behavior: 			url(/_static/_forms/controls/img.lu.htc?ver=-339091135) url(/_static/_forms/controls/img.lu.presence.htc?ver=-339091135);

}

IMG.ms-crm-Lookup-Party
{
cursor:				hand;
behavior: 			url(/_static/_controls/partylist/img.lu.party.htc?ver=-339091135) url(/_static/_forms/controls/img.lu.htc?ver=-339091135) url(/_static/_forms/controls/img.lu.presence.htc?ver=-339091135);

}

IMG.ms-crm-Lookup-TransactionCurrency
{
cursor:				hand;
behavior: 			url(/_static/_forms/controls/img.lu.transcur.htc?ver=-339091135) url(/_static/_forms/controls/img.lu.htc?ver=-339091135) url(/_static/_forms/controls/img.lu.presence.htc?ver=-339091135);

}

IMG.ms-crm-DateTime
{
cursor:				hand;
behavior: 			url(/_static/_forms/controls/img.dtm.htc?ver=-339091135);
}

INPUT.ms-crm-Duration
{
behavior: 			url(/_static/_forms/controls/duration.htc?ver=-339091135);
}

IFRAME.ms-crm-Custom
{
width:				100%;
height:				100%;
border-width:		1px;
border-style:		solid;
behavior: 			url(/_static/_forms/controls/iframe.htc?ver=-339091135);
}

IFRAME.ms-crm-Email-Body
{
background-color:	#ffffff;
height:				100%;
width:				100%;
overflow:			auto;
border-width:		1px;
border-style:		solid;
}

TABLE.ms-crm-Email-Body
{
behavior: 			url(/_static/_controls/emailbody/messagebody.htc?ver=-339091135) ;
}

TABLE.ms-crm-Email-Body-Error
{
background-color:	#ffffae;
border:				1px solid #c5c5c5;
width:				100%;
table-layout:		fixed;
padding-top:		20px;
padding-bottom:		20px;
}

TABLE.ms-crm-FiscalPeriodAndYear
{
behavior: url(/_static/advancedfind/fiscalperiodandyear.htc?ver=-339091135)
}


SPAN.ms-crm-DataSlugBody
{
behavior: url(/_static/_forms/controls/dataslug.htc?ver=-339091135);
tab-index: -1;
border:	1px solid #6699cc;
background-color: #FFFFFF;
overflow-y: auto;
}

SPAN.ms-crm-DataSlugBodySingleSlug
{
behavior: url(/_static/_forms/controls/dataslug.htc?ver=-339091135);
tab-index: -1;
border:	1px solid #6699cc;
background-color: #FFFFFF;
overflow-y: hidden;
}

SPAN.ms-crm-DataSlug
{
tab-index: -1;
background-color: #FFFF33;
height: 17px;
padding-top: 1px;
padding-right: 2px;
padding-left: 2px;
overflow-y: hidden;
}

INPUT.ms-crm-Money-CurrencySymbol
{
overflow: visible;
text-align: center;
border-right-width: 0px;
}

TD.ms-crm-Money-CurrencySymbol
{
width: 1px;
}

DIV.ms-crm-CheckBoxList
{
behavior: url(/_static/_controls/checkboxlist/checkboxlist.htc?ver=-339091135);
height: 100%;
overflow: auto;
width: 100%;
}

DIV.ms-crm-NextButton
{
padding: 5px;
}

A.ms-crm-NextButton
{
behavior: url(/_static/_controls/NextButton/NextButton.htc?ver=-339091135);
}

IMG.ms-crm-NextButton
{

}

SPAN.ms-crm-NextButton
{

padding-left: 10px;
color:  #15428B;
}

A.ms-crm-NextButton-Disabled
{
cursor: default;
}

SPAN.ms-crm-ConnectionRoleObjectTypeCodeList
{
behavior: url(/_static/_controls/connectionroleobjecttypelist/connectionroleobjecttypecodelist.htc?ver=-339091135);
}

TABLE.ms-crm-ReportControl
{
background-color: #FFFFFF;
border-left: 1px solid #6893CF;
border-top: 2px solid #6893CF;
border-right: 1px solid #6893CF;
border-bottom: 1px solid #6699CC;
}
